[package]
name = "numerone"
authors = ["Mouhammed Nashat Helmi <KiN4Tec@Gmail.com>"]
license = "MIT"
version = "0.0.1"
edition = "2024"
publish = false

[dependencies]
anyhow = "1.0"
reedline = "0.44.0"
