name: Draft Release on Tag

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  build:
    name: release ${{ matrix.target }}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        target: [x86_64-unknown-linux-musl]

    steps:
    - uses: actions/checkout@v4
    
    - name: Build
      run: |
        rustup target add ${{ matrix.target }}
        cargo build --profile release --target ${{ matrix.target }} --verbose
    
    - name: Create Draft Release
      uses: softprops/action-gh-release@v2
      with:
        draft: true
        files: target/${{ matrix.target }}/release/numerone
